.expanded {
  height: 20vh;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 7vh;
  border: solid 1px black;
}

.expanded div {
  margin-top: 3vh;
  display: inline-block;
  width: 31%;
  height: calc(100% - 3vh);
}

.expanded a {
  position: absolute;
  margin: 2vh 2rem;
  cursor: pointer;
}

.collapsed {
  display: flex;
  align-items: center;
  height: 6vh;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 7vh;
  border: solid 1px black;
}

.collapsed a {
  position: absolute;
  margin: 0 2rem;
  cursor: pointer;
  color: black;
}

.filter div h3 {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.brand {
  margin-left: 5vw;
}
