.item {
  display: inline-block;
  margin: 1rem;
}

.item p {
  display: inline-block;
}

/* cant get to work wah */
.item p:nth-child(2) {
  text-align: right;
}

.img {
  margin-top: 1rem;
  background-color: blue;
  height: 20rem;
  width: 15rem;
}
