.avatar,
.size_selector {
  height: 80vh;
  width: 47%;
  display: inline-block;
  border: 1px solid black;
  margin-top: 10vh;
}

.size_selector h3 {
  margin-top: 3rem;
}

.me {
  display: flex;
  text-align: center;
}

.me > div {
  margin: 5rem 1rem;
}

.me button {
  margin-top: 8vh;
  font-size: 2rem;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  color: black;
  cursor: pointer; 
}

.logo {
  width: 9rem;
  position: absolute;
  margin: 0.4rem;
}

.bodies img {
  width: 20%;
}

.small {
  height: 6.4rem;
}

.med {
  height: 6.5rem;
}

.lg {
  height: 7rem;
}

.gender {
  display: flex;
  margin-left: 40%;
}

.gender label {
  display: inline-block;
}

.ant-slider-track {
  background-color: black;
}

.ant-slider-handle {
  border: solid 2px black;
}
